body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Roboto", arial;
}
.container {
  display: flex;
  flex-direction: column;
}

/* styling the header*/
.header {
  background-color: #1f2937;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px 190px 20px 300px;
}

.logo {
  display: flex;
  font-size: 24px;
  color: #f9faf8;
  font-weight: 300;
  margin-right: auto;
}

.header-links {
  display: flex;
  gap: 15px;
  margin-left: auto;
  padding: 0px 100px 0px 0px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  transition: 0.3s;
}
a:hover {
  color: #3882f6;
  font-size: 21px;
}

/* styling the hero portion */
.hero {
  display: flex;
  color: #f9faf8;
  background-color: #1f2937;
  align-items: center;
  justify-content: center;
  padding: 90px;
}

.hero-cta {
  flex-basis: 400px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 50px;
  gap: 30px;
}

.hero-cta p {
  font-family: "Roboto", arial;
  opacity: 0.7;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  margin: 0;
  font-family: "Roboto", arial;
}

.hero button {
  display: block;
  text-align: center;
  width: 100px;
  border: none;
  background: #3882f6;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  font-family: "Roboto", arial;
  text-decoration: none;
  font-weight: bold;
}

.L-img {
  width: 400px;
  height: 250px;
}

/*content portion*/
.container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 70px 70px 200px 70px;
}

h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  margin: 0px 0px 50px 0px;
}

.content-info {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.s-img {
  width: 140px;
  height: 170px;
  border-radius: 8px;
  transition: 0.35s;
}

.s-img:hover {
  width: 160px;
  height: 190px;
  opacity: 0.3;
}

.head {
  gap: 20px;
  font-family: "Roboto", arial;
  color: grey;
}

/* Quote portion */
.container-3 {
  display: flex;
  flex-direction: column;
  padding: 100px;
  align-items: center;
  background-color: #e5e7eb;
}

h3 {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
  width: 780px;
  text-align: left;
}

.small-quote {
  font-size: 24px;
  font-weight: bolder;
  color: #1f2937;
  margin: 15px;
  text-align: right;
}

/* call to action portion */
.container-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3882f6;
  margin: 100px 50px 100px 50px;
  padding: 50px 0px 50px 0px;
  border-radius: 11px;
  width: 1000px;
  margin-left: 200px;
  flex-wrap: wrap;
}

.cta-wrapper {
  display: flex;
  flex-direction: row;
  text-align: left;
  color: rgba(255, 255, 255, 0.856);
  gap: 170px;
  flex-wrap: wrap;
}

h4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 28px;
  font-weight: bold;
}

.s-cta {
  font-size: 18px;
  font-weight: lighter;
  margin-top: 5px;
}

.cta-wrapper button {
  display: block;
  text-align: center;
  width: 130px;
  border: 3px white;
  border-radius: 8px;
  background: #3882f6;
  color: #fff;
  font-family: "Roboto", arial;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  border-style: solid;
}

/* footer portion */
.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 45px;
}
